<!DOCTYPE html>
<html>
  <head>
    <title>Players</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            Best
            <br />
            Soccer
            <br />
            Players
          </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Enter your favorite players with the correct team information.
      </div>
      <div class="col-5 links">
        <%= link_to 'Add Player', new_player_path %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />

    <div class="container">
      <% if flash[:error].present? %>
        <div class ="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <p class="col-9 text-muted">
            <%= link_to "Need More Players", new_player_path %>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
