<!DOCTYPE html>
<html>
  <head>
    <title>Players</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
          <br />
          Best
          <br />
          Soccer
          <br />
          Players
        </div>
      </div>
      <div class="col-4 slogan">
        Enter your favorite players with the correct team information.
      </div>
      <div class="col-5 links">
        <%= link_to 'Add Player', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <p class="col-9 text-muted">
            <%= link_to "Need More Players", "#" %>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
